version: "3.7"
services:
  my_web_app:
    image: bibiefrat/ci_cd_1:my_web_app
    ports:
      - "8088:8088"
    networks:
        - network2
    environment:
      MONGO_URL_RUN: "mongodb://10.100.1.143:20000"

  mongo:
    image: bibiefrat/ci_cd_1:my_mongo
    ports:
      - "27017:27017"
    networks:
      - network2
    environment:
      MONGO_URL_RUN: "mongodb://10.100.1.143:20000"

networks:
  network2: {}


volumes:
  volume_demo:
  volume_demo2:
